/* CSS Document */

.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align: center;
	color: #505050;
	background-color: #fff; /*ece9d8*/
	border: 1px solid #AAAAAA;
	}

.dpTitleTR {
	background-color: #fff;
	}

.dpTD {
	border: 1px solid #ece9d8;
	}

.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}

.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}
.dpTitleTD {
	background-color: #fff;
}

.dpButtonTD {
	border: 0;
	background-color: #fff;
}
.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	width: 20px;
	}

.dpTitleText {
	font-size: 12px;
	color: gray;
	font-weight: bold;
	}

.dpDayHighlight {
	color: #4060ff;
	font-weight: bold;
	}

.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}

.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}